{% extends 'home.html' %}

{% block title %}
    Detail
{% endblock %}


{% block content %}

<h1>User Details</h1>
  <p>User ID: {{ user.user_id }}</p>
  <p>User Name: {{ user.user_name }}</p>
  <p>User Social ID: {{ user.user_social_id }}</p>
  <p>Email Address: {{ user.email_address }}</p>
  <p>Contact Number: {{ user.contact_number }}</p>
  <p>Registered Date: {{ user.registered_date }}</p>
    {% if user.profile_image %}
        <p>Profile Image : <img src="{{ user.profile_image.url }}" alt="profile image"></p>
    	
    {% endif %}
    
  <p><a href="{% url 'dashboard' %}">Back to Dashboard</a></p>
    
    
{% endblock %}